*{
  margin:0;
}
html{
  background: linear-gradient(yellow,green,orange,cyan,yellow,blue);
  min-height: 100vh;
}
main{
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
article{
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width:900px;
  flex-direction: column;
}
img{
  max-width: 100%;
  width:900px;
}
